body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    border: 0;
    padding: 0;
}

section {
    margin: 0;
    border: 0;
    padding: 0;
}

#BG {
    display: inline-block; /* necessary to make body the same dimensions as #BG_img. Use Inspect to check their dimensions. */
    height: 180vh;
    position: absolute; /* pushes BG_img into the background */
    /* background-image: url("images/Senior_Thesis_Map_Spring.png");
    background-position: top left;
    background-origin: border-box;
    background-attachment: scroll;
    background-size: 75%; */
}

#BG_img {
    height: 100%; /* % of its container, #BG */
    /* prevent from getting highlighted blue */
    pointer-events: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

/* #leaves_container, #leaves_canvas, */
#snow_canvas {
    display: none;
    position: absolute;
    height: 100%;
    width: 100%;
    /* prevent from getting highlighted blue */
    pointer-events: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

/* section #fixed_stuff {
    display: flex;
} */

#title {
    position: absolute; /* lets this div overlap with sections */
    line-height: 0em; /* line-height = leading */
}

button {
    filter: drop-shadow(0 0 0.25rem rgb(255, 217, 0));
    /* removing CSS default button appearance. Using <button> allows Tab to highlight and Enter it. */
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
}

#open_instructions {
    position: fixed;
    right: 2%; /* % of its container, #fixed_stuff */
    top: 2%;
    height: 15%;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1em;
    border-radius: 50%; /* the button was sticking out of the icon */
}

#Guide_Button {
    height: 100%;
}

#Guide_Button:hover {
    cursor: pointer;
    transform: rotate(25deg);
}

#instructions {
    position: fixed;
    display: block;
    padding: 20px;
    border-radius: 25px;
    background-color:aliceblue;
    /* background-position: left top; */
    /* background-size: cover; */
    height: 40%; /* must be a set height to control the inner div's overflow */
    min-width: 40%;
    top: 20%;
    left: 20%;
    right: 20%;
    /* BORDERS https://www.w3schools.com/cssref/tryit.php?filename=trycss3_border-image-repeat */
    --mask: 
        linear-gradient(#000 0 0) 50%/calc(100% - 55.5px) calc(100% - 55.5px) no-repeat,
        radial-gradient(farthest-side,#000 98%,#0000) 0 0/60px 60px round;
    -webkit-mask: var(--mask);
    mask: var(--mask);
}

#instructions div {
    height: 100%;
    overflow: auto; /* makes overflow generate a scroll bar */
}

.close-button {
    position: absolute; /*takes the button out of #instructions's padding*/
    float: right;
    top: 3;
    right: 3;
    height: 15%;
}

.close-button:hover {
    cursor: pointer;
    transform: rotate(25deg);
}

.close-button #X_Button {
    height: 100%;
}

#instructions h3, #instructions p {
    text-align: center;
    margin: 0;
}

#slider {
    appearance: none; /* remove default appearance */
    position: fixed;
    bottom: 10%;
    left: 15%;
    width: 70%;
    height: 3%;
    border-radius: 5px;
    opacity: 0.7;
    outline: none;
    background-color: white;
}

#slider::-webkit-slider-thumb {
    appearance: none; /* default appearance overrides my settings for some reason */
    background-color: black;
    aspect-ratio: 1/1;
    height: 150%;
    width: auto;
    border-radius: 1em;
    cursor: pointer;
}

/* slider knob for Firefox */
#slider::-moz-range-thumb {
    appearance: none; /* default appearance overrides my settings for some reason */
    background-color: black;
    aspect-ratio: 1/1; /* doesn't work in Firefox?? */
    height: 150%;
    width: auto;
    border-radius: 1em;
    cursor: pointer;
}

.dot {
    display: inline-block;
    position: absolute;
    height: 4%;
    width: auto;
    fill: blanchedalmond;
    filter: drop-shadow(0 0 0.25rem rgb(255, 217, 0));
    animation-name: spin;
    animation-duration: 2500ms;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
}

/* Dot SVG's black-filled part. For its original look, check index.html */
.dot .cls-1 {
    animation-name: blinking;
    animation-duration: 1250ms;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
@keyframes blinking {
    0% {
        fill: black;
        stroke: black;
    }
    100% {
        fill: blanchedalmond;
        stroke: blanchedalmond;
    }
}

#art1 {
    top: 30%;
    left: 32%;
}

.preview {
    display: inline-block;
    position: absolute;
    top: 30%;
    left: 34%;
    padding: 0.5em;
    border-radius: 1em;
    background-color:aliceblue;
    max-width: 15%;
    max-height: 30%;
    font-size: 1em;
}

.preview div {
    overflow: auto;
}

.artlink {
    background-color: black;
	color: white;
	border: none;
    border-radius: 1em;
	padding: 0.5em;
    margin: 0.5em;
	cursor: pointer;
}

.artlink:hover {
    background-color: white;
	color: black;
    outline-offset: -2px;
    outline-style: solid;
    outline-width: 2px;
    outline-color: black;
}

#unicorn {
    transform: scaleX(-1);
    position: absolute;
    top: 18%;
    left: 3%;
    height: 12%;
    width: auto;
    filter: drop-shadow(0 1rem 0.25rem, rgb(100,100,100));
}

#unicorn img {
    height: 100%;
    filter: drop-shadow(0 1rem 0.25rem, rgb(100,100,100));
    display: none;
}